@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maersk Container Management System</h1>
    <p class="lead">Maersk Container Managementis the world's largest container shipping company having customers through 374 offices in 116 countries</p>
    
</div>

